@charset "utf-8";
/* CSS Document */
#wrapper #container #maincontent{
	padding-right: 0px;
}

.tag-deprecated, new-in-html5, .tags-not-supported{
	float: none;
}

a#back-to-top{
	position: relative;
	left: 950px;
	top:10px;
}

#wrapper #footer{
	width: 95.8%;
}
