/* global components declaration */

/*----------
CODE-EXAMPLE
------------*/

code{
	display: block;
	padding: 0.769230em; /* 10px/13px */
	margin: 0 0 0.769230em 0; /* 10px/13px */
	background: #23201C;
	/*background: rgba(35,32,28,0.8);*/
	color: #FFFFFF;
	max-width:100%;
	white-space: pre-wrap;
	word-wrap: break-word;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-bottom: 1.846153em; /* 24px/13px */
}
.codeheading{
	display: block;
	background-color: #FF9900;
	color: #FFFFFF;
	margin: 0;
	padding: 0.769230em; /* 10px/13px */
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;	
	font-weight: bold;
}
.tag{
	color: #DFC484;
}
.attrval{
	color: #8E9C5C;
}

/*---------
Back-To-Top
-----------*/
.nav_up{
	padding:7px;
	background-color:white;
	border:1px solid #CCC;
	position:fixed;
	background: #333 url(../images/arrow_up.png) no-repeat top left;
	background-position:50% 50%;
	width:20px;
	height:20px;
	bottom:10px;
	right:10px;
	white-space:nowrap;
	cursor: pointer;
	-moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
    -khtml-border-top-left-radius:3px;
	-khtml-border-top-right-radius:3px;
}
.nav_down{
	padding:7px;
	background-color:white;
	border:1px solid #CCC;
	position:fixed;
	background: #333 url(../images/arrow_down.png) no-repeat top left;
	background-position:50% 50%;
	width:20px;
	height:20px;
	bottom:10px;
	right:60px;
	white-space:nowrap;
	cursor: pointer;
	-moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
    -khtml-border-top-left-radius:3px;
	-khtml-border-top-right-radius:3px;
	background-color: ##FF3333;
}

