/*-----------------------------------
min-width: 801px and max-width: 1600px
-------------------------------------*/

/*-----
GENERIC
-------*/
body{
	-webkit-transition: font-size 0.2s ease-in;
	-moz-transition: font-size 0.2s ease-in;
	-ms-transition: font-size 0.2s ease-in;
	-o-transition: font-size 0.2s ease-in;
	transition: font-size 0.2s ease-in;
}
h1{
	font-size: 2.461538em;
	text-shadow: 0 1px 1px #000;
	color: #FFF;
}
h2{
	font-size: 2em;
	text-shadow: 0 1px 1px #666;
}
h2:before{
	content: '... ';
	display: inline;
}
h3{
	font-size: 1.384615em;
	text-shadow: 0 1px 1px #666;
	margin-top: 0.6em;	
}
h4{
	font-size: 1em;
	text-shadow: 0 1px 1px #666;
}
dl dt{
	text-decoration: underline;
}
/*--
FONT
----*/
@font-face {
    font-family: 'aller_rg-webfont';
    src: url('../font/aller/aller_rg-webfont.eot');
    src: url('../font/aller/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/aller/aller_rg-webfont.woff') format('woff'),
         url('../font/aller/aller_rg-webfont.ttf') format('truetype'),
		 url('../font/aller/aller_rg-webfont.svg#svgFontName') format('svg');
}
@font-face {
    font-family: 'sf_collegiate-webfont';
    src: url('../font/SF_Collegiate/sf_collegiate-webfont.eot');
    src: url('../font/SF_Collegiate/sf_collegiate-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/SF_Collegiate/sf_collegiate-webfont.woff') format('woff'),
         url('../font/SF_Collegiate/sf_collegiate-webfont.ttf') format('truetype'),
		 url('../font/SF_Collegiate/sf_collegiate-webfont.svg#svgFontName') format('svg');
}
@font-face {
    font-family: 'cabinsketch-bold-webfont';
    src: url('../font/CabinSketch-Bold/cabinsketch-bold-webfont.eot');
    src: url('../font/CabinSketch-Bold/cabinsketch-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/CabinSketch-Bold/cabinsketch-bold-webfont.woff') format('woff'),
         url('../font/CabinSketch-Bold/cabinsketch-bold-webfont.ttf') format('truetype'),
		 url('../font/CabinSketch-Bold/cabinsketch-bold-webfont.svg#svgFontName') format('svg');
}
@font-face {
    font-family: 'gudea-bold-webfont';
    src: url('../font/Gudea-Bold/gudea-bold-webfont.eot');
    src: url('../font/Gudea-Bold/gudea-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Gudea-Bold/gudea-bold-webfont.woff') format('woff'),
         url('../font/Gudea-Bold/gudea-bold-webfont.ttf') format('truetype'),
		 url('../font/Gudea-Bold/gudea-bold-webfont.svg#svgFontName') format('svg');
}

/*---------
PAGE-HEADER
-----------*/
#page-header .font-access{
	position: absolute;
	right: 0;
	bottom: -1.29em;
	font-weight: bold;
	background: rgba(0,0,0,0.2);
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
#page-header .font-access span{
	margin: 0 5px;
	cursor: pointer;
}
#page-header .font-access span.inc{
	padding: 3px;
}
#page-header .font-access span.dec{
	padding: 3px;
	display: none;
}
.page-head{
	max-width: 90%;
	margin: 0 auto;
}

/*---------
PAGE-FOOTER
-----------*/
.page-foot{
	max-width: 90%;
	margin: 0 auto;
}
/*-------------
CONTENT-WRAPPER
---------------*/
#content-wrapper{
	max-width: 90%;
	margin: 10px auto 0;
	font-family: aller_rg-webfont, "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#content-wrapper nav {
    padding: 0;
	overflow: hidden;
}
#content-wrapper nav a,
#content-wrapper nav a:link,
#content-wrapper nav a:visited{
	color: #FFFFFF;
	padding: 3px;
	margin: 3px;
	display: block;
	float: left;
  	text-shadow: 0 1px 1px #000000;
    background: #633; /* The Fallback */
    background: rgba(0, 0, 0, 0.4);
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 2em;
   	-webkit-transition: background 0.2s ease-in;
	-moz-transition: background 0.2s ease-in;
	-ms-transition: background 0.2s ease-in;
	-o-transition: background 0.2s ease-in;
	transition: background 0.2s ease-in;
}

#content-wrapper nav a:hover, 
#content-wrapper nav a:focus
#content-wrapper nav a:visited.active,
#content-wrapper nav a.active{
	background: #FF3333;
}

#content-wrapper a,
#content-wrapper a:link,
#content-wrapper a:visited{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FF3300;
    padding: 0 2px;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;

}
#content-wrapper a:hover,
#content-wrapper a:focus{
	background: #FF3333;
	color: #FFFFFF;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.list-of-contents{
	margin: 0.769230em 0 0 0;
	padding: 0 0 0 1.6em;
	list-style: decimal;
}
#content-wrapper .list-of-contents a,
#content-wrapper .list-of-contents a:link,
#content-wrapper .list-of-contents a:visited{
	color: #000000;
}
#content-wrapper .list-of-contents a:focus,
#content-wrapper .list-of-contents a:hover{
	background: none;
	text-decoration: underline;
}
#content-wrapper .ref{
	padding: 0;
	margin: 0;
}
