/*----------------------------------
min-width: 601px and max-width: 800px
------------------------------------*/

/*-----
GENERIC
-------*/
h1{
	font-size: 1.6em;
}
h2{
	font-size: 1.4em;
}
h3{
	font-size: 1.2em;
}
h4{
	font-size: 1em;
}
/*---------
PAGE-HEADER
-----------*/
.page-head{
	max-width: 80%;
	margin: 0 auto;
}
#page-header .font-access{
	width: 100%;
	text-align: right;
	width: 120px;
}
/*---------
PAGE-FOOTER
-----------*/
.page-foot{
	max-width: 80%;
	margin: 0 auto;
}
/*-------------
CONTENT-WRAPPER
---------------*/
#content-wrapper{
	max-width: 80%;
}
#content-wrapper nav {
    padding: 0;
	overflow: hidden;
   	-webkit-transition: height 0.2s ease-in;
	-moz-transition: height 0.2s ease-in;
	-ms-transition: height 0.2s ease-in;
	-o-transition: height 0.2s ease-in;
	transition: height 0.2s ease-in;
	height: 40px;
}
#content-wrapper nav a,
#content-wrapper nav a:link,
#content-wrapper nav a:visited{
	width: 42%;
	color: #FFFFFF;
	padding: 3px 2%;
	margin: 3px 2%;
	display: none;
	float: left;
  	text-shadow: 0 1px 1px #000000;
    background: #633; /* The Fallback */
    background: rgba(0, 0, 0, 0.4);
	-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   line-height: 2em;
}

#content-wrapper nav a:hover, 
#content-wrapper nav a:focus
#content-wrapper nav a:visited.active,
#content-wrapper nav a.active{
	background: #FF3333;
}
#content-wrapper nav:before{
	content: '+ Jump To';
	display: block;
	background: #CCC;
	color: #000;
	padding: 6px;
	margin: 6px 2%;
	width: 92.5%;
	-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;	
   cursor: pointer;
}
#content-wrapper nav.show{
	height: 270px;
}
#content-wrapper nav.show:before{
	content: '- Jump To';
}
#content-wrapper nav.show a{
	display: block;
}
#content-wrapper a:hover,
#content-wrapper a:focus{
	-webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}